@using AirConditionersManagementSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Welcome to my website for airconditioners!</p>
</div>

<link rel="stylesheet" href="~/css/home-page-button-style.css">


          <div class="form-group" style="text-align: center;">
                 <a asp-controller="Users" asp-action="UsersCRUD" class="button">All Users</a>
            </div>

            <div class="form-group" style="text-align: center;">
               <a asp-controller="Requests" asp-action="Create" class="button">Create Request</a>
            </div>

            <div class="form-group" style="text-align: center;">
               <a asp-controller="Requests" asp-action="GetAllRequestsForUser" class="button">View Requests</a>
            </div>